/* line 1, ../../app/assets/stylesheets/application.css.sass */
* {
  margin: 0;
}

/* line 4, ../../app/assets/stylesheets/application.css.sass */
html, body {
  height: 100%;
}

/* line 6, ../../app/assets/stylesheets/application.css.sass */
body {
  background: url(/assets/background1.png);
}

/* line 9, ../../app/assets/stylesheets/application.css.sass */
a img {
  border-width: 0;
}

/* line 13, ../../app/assets/stylesheets/application.css.sass */
#top {
  background: url(/assets/background2.png);
  height: 385px;
  border-bottom: solid 5px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 21, ../../app/assets/stylesheets/application.css.sass */
#top #top_text h1 {
  color: #b13737;
  text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding-top: 60px;
  font-size: 30pt;
  font-family: "Autour One";
  font-weight: bold;
  text-align: center;
}
/* line 30, ../../app/assets/stylesheets/application.css.sass */
#top #top_text p {
  padding-left: 20px;
  color: #c3b0a0;
  font-size: x-large;
  text-shadow: 0px 2px 3px black;
  text-align: left;
  font-family: "Trebuchet MS";
  text-indent: 10mm;
}

/* line 39, ../../app/assets/stylesheets/application.css.sass */
.facebook {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/facebook.png") bottom;
}

/* line 45, ../../app/assets/stylesheets/application.css.sass */
.twitter {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/twitter.png") bottom;
}

/* line 52, ../../app/assets/stylesheets/application.css.sass */
#social {
  font-size: x-large;
  display: inline;
}

/* line 57, ../../app/assets/stylesheets/application.css.sass */
#logo img {
  height: 350px;
}

/* line 60, ../../app/assets/stylesheets/application.css.sass */
#content {
  background: url(/assets/background3.png);
  border-left: solid 5px black;
  border-right: solid 5px black;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
  padding-bottom: 50px;
}

/* line 69, ../../app/assets/stylesheets/application.css.sass */
.content {
  height: 100%;
}
/* line 71, ../../app/assets/stylesheets/application.css.sass */
.content h1 {
  color: black;
  font-size: 50pt;
  font-family: "Sketch Coursive";
}
/* line 75, ../../app/assets/stylesheets/application.css.sass */
.content p {
  font-family: "Helvetica Neue";
  font-size: medium;
  text-align: left;
  color: #444444;
  text-indent: 5mm;
}
/* line 81, ../../app/assets/stylesheets/application.css.sass */
.content a {
  font-weight: bold;
  font-family: "Helvetica Neue";
  color: #496178;
  text-decoration: none;
}
/* line 86, ../../app/assets/stylesheets/application.css.sass */
.content a:link, .content a a:visited, .content a a:active {
  text-decoration: none;
  color: #496178;
}
/* line 89, ../../app/assets/stylesheets/application.css.sass */
.content a:hover {
  color: #6a955b;
}
/* line 91, ../../app/assets/stylesheets/application.css.sass */
.content h3 {
  font-weight: bold;
  font-family: "Autour One";
  font-size: 11pt;
}

/* line 98, ../../app/assets/stylesheets/application.css.sass */
.error {
  background: #b13737;
  text-align: center;
  padding: 20px 0;
  border: solid 3px black;
  margin-left: 6px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

/* line 106, ../../app/assets/stylesheets/application.css.sass */
.sucess {
  background: #6a955b;
  text-align: center;
  padding: 20px 0;
  border: solid 3px black;
  margin-left: 6px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

/* line 116, ../../app/assets/stylesheets/application.css.sass */
#footer {
  background: #020200;
  height: 50px;
}
/* line 119, ../../app/assets/stylesheets/application.css.sass */
#footer a {
  font-family: "Autour One";
  font-size: x-large;
  font-weight: bold;
  color: #496178;
  text-decoration: none;
}
/* line 125, ../../app/assets/stylesheets/application.css.sass */
#footer a:link, #footer a a:visited, #footer a a:active {
  text-decoration: none;
  color: #496178;
}
/* line 128, ../../app/assets/stylesheets/application.css.sass */
#footer a:hover {
  color: #6a955b;
}

/* line 131, ../../app/assets/stylesheets/application.css.sass */
.button {
  font-size: small;
  text-align: center;
  font-weight: bold;
  font-family: "Autour One";
  color: black;
  height: 25px;
  width: 66px;
  background: #6a955b;
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px black;
}
/* line 143, ../../app/assets/stylesheets/application.css.sass */
.button a {
  color: black;
}
/* line 145, ../../app/assets/stylesheets/application.css.sass */
.button:link, .button a:visited, .button a:active {
  text-decoration: none;
  color: black;
}
/* line 148, ../../app/assets/stylesheets/application.css.sass */
.button:hover {
  text-decoration: none;
  background: #b13737;
  color: black;
}

/* line 153, ../../app/assets/stylesheets/application.css.sass */
.voltar {
  padding-top: 4px;
  height: 17px;
  width: 66px;
}
/* line 157, ../../app/assets/stylesheets/application.css.sass */
.voltar a {
  font-family: "Autour One";
  font-size: small;
  color: black;
}
