/* line 1, ../../app/assets/stylesheets/application.css.sass */
* {
  margin: 0;
}

/* line 4, ../../app/assets/stylesheets/application.css.sass */
html, body {
  height: 100%;
}

/* line 6, ../../app/assets/stylesheets/application.css.sass */
body {
  background: url(/assets/background1.png);
}

/* line 9, ../../app/assets/stylesheets/application.css.sass */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0px;
}

/* line 15, ../../app/assets/stylesheets/application.css.sass */
#footer, #push {
  height: -150px;
}

/* line 18, ../../app/assets/stylesheets/application.css.sass */
a img {
  border-width: 0;
}

/* line 22, ../../app/assets/stylesheets/application.css.sass */
#top {
  background: url(/assets/background2.png);
  height: 385px;
  border-bottom: solid 5px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 29, ../../app/assets/stylesheets/application.css.sass */
#top h1 {
  color: #b13737;
  text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding-top: 60px;
  font-size: 30pt;
  font-family: "Autour One";
  font-weight: bold;
  text-align: center;
}
/* line 38, ../../app/assets/stylesheets/application.css.sass */
#top p {
  padding-left: 20px;
  color: #c3b0a0;
  font-size: x-large;
  text-shadow: 0px 2px 3px black;
  text-align: left;
  font-family: "Helvetica";
  text-indent: 10mm;
}

/* line 47, ../../app/assets/stylesheets/application.css.sass */
.facebook {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/facebook.png") bottom;
}
/* line 52, ../../app/assets/stylesheets/application.css.sass */
.facebook:hover {
  background-position: 0 0;
}

/* line 55, ../../app/assets/stylesheets/application.css.sass */
.twitter {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/twitter.png") bottom;
}
/* line 60, ../../app/assets/stylesheets/application.css.sass */
.twitter:hover {
  background-position: 0 0;
}

/* line 63, ../../app/assets/stylesheets/application.css.sass */
#social {
  font-size: x-large;
}
/* line 65, ../../app/assets/stylesheets/application.css.sass */
#social a {
  font-weight: bold;
  color: #444444;
}
/* line 68, ../../app/assets/stylesheets/application.css.sass */
#social a:link, #social a a:visited, #social a a:active {
  text-decoration: none;
  color: #444444;
}
/* line 71, ../../app/assets/stylesheets/application.css.sass */
#social a:hover {
  color: #6a955b;
}

/* line 75, ../../app/assets/stylesheets/application.css.sass */
#logo img {
  height: 350px;
}

/* line 78, ../../app/assets/stylesheets/application.css.sass */
#content {
  background: url(/assets/background3.png);
  border-left: solid 5px black;
  border-right: solid 5px black;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
  min-height: 100%;
}

/* line 88, ../../app/assets/stylesheets/application.css.sass */
#footer {
  height: 150px;
  background: #020200;
  background-image: -moz-linear-gradient(top, #020200, black);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, black), color-stop(1, #020200));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#020200' endColorstr='#000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#020200' endColorstr='#000')";
}
/* line 95, ../../app/assets/stylesheets/application.css.sass */
#footer h2 {
  font-family: "Helvetica";
  font-size: x-large;
  color: #496178;
  font-weight: bold;
}
/* line 101, ../../app/assets/stylesheets/application.css.sass */
#footer p {
  font-family: "Autur One";
  font-size: small;
  color: #b13737;
  text-align: left;
}
