/* line 1, ../../app/assets/stylesheets/application.css.sass */
* {
  margin: 0;
}

/* line 4, ../../app/assets/stylesheets/application.css.sass */
html, body {
  height: 100%;
}

/* line 6, ../../app/assets/stylesheets/application.css.sass */
body {
  background: url(/assets/background1.png);
}

/* line 9, ../../app/assets/stylesheets/application.css.sass */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0px;
}

/* line 15, ../../app/assets/stylesheets/application.css.sass */
#footer, #push {
  height: -150px;
}

/* line 18, ../../app/assets/stylesheets/application.css.sass */
a img {
  border-width: 0;
}

/* line 22, ../../app/assets/stylesheets/application.css.sass */
#top {
  background: url(/assets/background2.png);
  height: 385px;
  border-bottom: solid 5px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 29, ../../app/assets/stylesheets/application.css.sass */
#top h1 {
  color: #b13737;
  text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding-top: 60px;
  font-size: 30pt;
  font-family: "Autour One";
  font-weight: bold;
  text-align: center;
}
/* line 38, ../../app/assets/stylesheets/application.css.sass */
#top p {
  padding-left: 20px;
  color: #c3b0a0;
  font-size: x-large;
  text-shadow: 0px 2px 3px black;
  text-align: left;
  font-family: "Helvetica";
  text-indent: 10mm;
}

/* line 47, ../../app/assets/stylesheets/application.css.sass */
.facebook {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/facebook.png") bottom;
}
/* line 52, ../../app/assets/stylesheets/application.css.sass */
.facebook:hover {
  background-position: 0 0;
}

/* line 55, ../../app/assets/stylesheets/application.css.sass */
.twitter {
  display: block;
  width: 71px;
  height: 70px;
  background: url("/assets/twitter.png") bottom;
}
/* line 60, ../../app/assets/stylesheets/application.css.sass */
.twitter:hover {
  background-position: 0 0;
}

/* line 63, ../../app/assets/stylesheets/application.css.sass */
#social {
  font-size: x-large;
}

/* line 67, ../../app/assets/stylesheets/application.css.sass */
#logo img {
  height: 350px;
}

/* line 70, ../../app/assets/stylesheets/application.css.sass */
#content {
  background: url(/assets/background3.png);
  border-left: solid 5px black;
  border-right: solid 5px black;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
  min-height: 100%;
}

/* line 80, ../../app/assets/stylesheets/application.css.sass */
.content h1 {
  color: black;
  font-size: 50pt;
  font-family: "Sketch Coursive";
}
/* line 85, ../../app/assets/stylesheets/application.css.sass */
.content p {
  font-family: "Helvetica";
  font-size: medium;
  text-align: left;
  color: #444444;
  text-indent: 5mm;
}
/* line 92, ../../app/assets/stylesheets/application.css.sass */
.content a {
  font-weight: bold;
  color: #496178;
  text-decoration: none;
}
/* line 96, ../../app/assets/stylesheets/application.css.sass */
.content a:link, .content a a:visited, .content a a:active {
  text-decoration: none;
  color: #496178;
}
/* line 99, ../../app/assets/stylesheets/application.css.sass */
.content a:hover {
  color: #6a955b;
}

/* line 103, ../../app/assets/stylesheets/application.css.sass */
#footer {
  background: #020200;
  height: 50px;
}
/* line 106, ../../app/assets/stylesheets/application.css.sass */
#footer a {
  font-family: "Helvetica";
  font-size: x-large;
  font-weight: bold;
  color: #496178;
  text-decoration: none;
}
/* line 112, ../../app/assets/stylesheets/application.css.sass */
#footer a:link, #footer a a:visited, #footer a a:active {
  text-decoration: none;
  color: #496178;
}
/* line 115, ../../app/assets/stylesheets/application.css.sass */
#footer a:hover {
  color: #6a955b;
}
/* line 118, ../../app/assets/stylesheets/application.css.sass */
#footer p {
  font-family: "Autur One";
  font-size: small;
  color: #b13737;
  text-align: left;
}
