/* line 5, ../../app/assets/stylesheets/contact.css.sass */
#poems_form {
  margin-bottom: 10px;
}
/* line 7, ../../app/assets/stylesheets/contact.css.sass */
#poems_form p.small {
  font-size: small;
}
/* line 9, ../../app/assets/stylesheets/contact.css.sass */
#poems_form h2 {
  font-size: x-large;
  font-family: "Helvetica";
  font-weight: bold;
  color: #496178;
}
/* line 15, ../../app/assets/stylesheets/contact.css.sass */
#poems_form .text_field {
  margin-top: 5px;
  padding: 0px 10px;
  background: transparent;
  border: solid 2px #496178;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  color: #182b3d;
}
/* line 25, ../../app/assets/stylesheets/contact.css.sass */
#poems_form .text_area {
  padding: 10px;
  background: transparent;
  border: solid 2px #496178;
  border-radius: 5px;
  color: #182b3d;
  font-weight: bold;
}
