@font-face {
  font-family: "Sketch Coursive";
  src: url("SketchCoursive.ttf");
  src: local("SketchCoursive") format("truetype");
}

@font-face {
  font-family: "Autour One";
  src: url("AutourOne.ttf");
  src: local("AutourOne") format("truetype");
}
