/* line 5, ../../app/assets/stylesheets/home.css.sass */
.green {
  color: #6a955b;
  font-family: "Helvetica";
  font-size: medium;
  text-align: left;
  text-indent: 5mm;
}

/* line 12, ../../app/assets/stylesheets/home.css.sass */
#join p {
  text-align: center;
}

/* line 16, ../../app/assets/stylesheets/home.css.sass */
#partners p {
  text-align: center;
}
